<h1>soYouThinkYouCanProgram()</h1>

<p><%= params %></p>

<textarea name="comment" form="usrform" rows="25" cols="75"method="post">
String myfunc(String input){
    return input.toLowerCase();
}
</textarea>

<form action="solution" id="usrform">
  <input type="submit">
</form>


