%h1 soYouThinkYouCanProgram()

#content
  .left.column
    %p username: #{@rand_word}

%form{:id => "usrform", :name => @rand_word ,:action => "match"}
  %input{:type => "hidden", :name => "username", :value => @rand_word}
  %input{:type => "submit"}!
