%h1 Waiting for user to join
%p= params
- url = App::Application.routes.url_helpers

:coffeescript
  $ ->
    alert "No semicolons! #{url.matches_path}"
    $.get "/match/#{@match.id}", (data) ->
        $('body').append "Successfully got the page."

