%h1 Waiting for user to join

:coffeescript
  f = () ->
    console.log('start query')
    $ ->
      $.ajax
        url: "/match/#{@match.id}"
        type: "get"
        dataType: "json"
        timeout: 3000
        success: (data) ->
          f() if !test_method(data)

  test_method = (data) -> 
    if data["joined_by"] == null
      return false
      console.log "waiting"
    else
      window.location.replace("/match/join/#{@match.id}");
      return true
      console.log "joined"

  f()
